.burger {
  display: none;
  width: 1vw;
  height: 1vw;
}

@media (max-width: 992px) {
  .burger {
    margin-top: 30px;
    display: block;
  }

  .b1,
  .b2,
  .b3 {
    position: relative;
    width: 30px;
    height: 4px;
    margin-bottom: 4px;
    background-color: #000;
    transition: 0.5s;
  }

  .b1.active {
    transform: rotate(45deg);
    top: 7px;
  }

  .b2.active {
    display: none;
  }

  .b3.active {
    top: -1px;
    transform: rotate(-45deg);
  }
}
