@font-face {
  font-family: "UniNeueBlack-Italic";
  src: url("../fonts/UniNeueBlack-Italic.ttf");
}
@font-face {
  font-family: "UniNeueBlack";
  src: url("../fonts/UniNeueBlack.ttf");
}
@font-face {
  font-family: "UniNeueBold-Italic";
  src: url("../fonts/UniNeueBold-Italic.ttf");
}
@font-face {
  font-family: "UniNeueBold";
  src: url("../fonts/UniNeueBold.ttf");
}
@font-face {
  font-family: "UniNeueBook-Italic";
  src: url("../fonts/UniNeueBook-Italic.ttf");
}
@font-face {
  font-family: "UniNeueBook";
  src: url("../fonts/UniNeueBook.ttf");
}
@font-face {
  font-family: "UniNeueHeavy-Italic";
  src: url("../fonts/UniNeueHeavy-Italic.ttf");
}
@font-face {
  font-family: "UniNeueHeavy";
  src: url("../fonts/UniNeueHeavy.ttf");
}
@font-face {
  font-family: "UniNeueLight-Italic";
  src: url("../fonts/UniNeueLight-Italic.ttf");
}
@font-face {
  font-family: "UniNeueLight";
  src: url("../fonts/UniNeueLight.ttf");
}
@font-face {
  font-family: "UniNeueRegular-Italic";
  src: url("../fonts/UniNeueRegular-Italic.ttf");
}
@font-face {
  font-family: "UniNeueRegular";
  src: url("../fonts/UniNeueRegular.ttf");
}
@font-face {
  font-family: "UniNeueThin-Italic";
  src: url("../fonts/UniNeueThin-Italic.ttf");
}
@font-face {
  font-family: "UniNeueThin";
  src: url("../fonts/UniNeueThin.ttf");
}
